.idea
.vs
.vscode
benchmarks
build
coverage
doc
example
obj
test
typings
.bithoundrc
.gitattributes
.gitignore
.gitmodules
.jshintrc
.travis.yml
gulpfile.js
Iridium.njsproj
Iridium.sln
Iridium.sublime-*
tslint.json